#container {
  font-family: Helvetica;
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

.box {
  border: 2px dashed darkgrey;
  box-sizing: border-box;
  float: left;
  font-size: 90px;
  font-weight: bold;
  height: 100px;
  width: 100px;
}

.box.X {
  color: red;
}
.box.O {
  color: blue;
}
